h1 {
    font-size: 2rem;
    color: var(--color-twilight);
    font-family: var(--font-family);
    margin-bottom: 0.5rem;
}

/* 
 * Blog page styling
 */
@import '../components/common/ButtonStyles.css';

.blog-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}

.blog-page-heading {
    margin: 4.5rem 0 6rem;
    color: var(--color-twilight);
    font-family: var(--font-family);
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 1.2rem; /* Increased padding to position line further below */
}

.blog-page-heading::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 600px; /* Increased width of the line */
    height: 1.5px;
    background-color: var(--color-terracotta);
}

.create-blog-btn {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.blog-page-container {
    margin: 0 8%;
    box-sizing: border-box;
    padding-bottom: 4rem;
}

/* Media Queries */
@media (max-width: 992px) {
    .blog-page-heading {
        font-size: 2rem;
        margin: 4rem 0 4rem;
        padding-bottom: 1rem;
    }
    
    .blog-page-heading::after {
        width: 300px; /* Adjusted width for medium screens */
    }
    
    .blog-page-container {
        margin: 0 5%;
    }
}

@media (max-width: 600px) {
    .blog-page-heading {
        font-size: 1.5rem;
        margin: 1.5rem 0 1rem;
    }
    
    .blog-page-heading::after {
        width: 80px; /* Adjusted width for small screens */
        height: 1px;
    }
    
    .blog-page-container {
        margin: 0 3%;
    }
}