.page {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    /* padding: 0 20px; */
    box-sizing: border-box;
}

/* @media (max-width: 1400px) {
    .page {
        margin: 50px;
        width: 100%;
    }
}

@media (max-width: 1240px) {
    .page {
        padding: 0;
    }
}

@media (max-width: 1200px) {
    .page {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .page {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 600px) {
    .page {
        margin-left: 10px;
        margin-right: 10px;
    }
} */