.App {
  text-align: center;
}

.app-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-terra);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --primary-color: #333;
  --secondary-color: ;
  --background-color: ;
  --accent-color: ;
  font-family: Georgia, 'Times New Roman';
}

body {
  font-family: 'Georgia', serif;
}

.app {
  min-height: 100vh;
  background-color: var(--color-terra);
}
