:root {
  --primary-color: #333;
  --secondary-color: #666;
  --background-color: rgb(254, 249, 236);
  --accent-color: #4a90e2;

  /* --color-twilight: #293454; */
  /* --color-terracotta: #662507; */
  /* --color-terra: #B97453; */
  /* --color-sandstone-beige: #d9d0BD; */

  --color-twilight: #442D1C; /* cowhide cocoa */
  --color-terracotta: #5474a1; /* Kashmir Blue */
  --color-terra: #d9d0BD; /* Sandstone Beige */
  --color-sandstone-beige: #f4efe4; /* Bella White */

  --font-family: Georgia, 'Times New Roman', serif;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
